Day_21/ClientConsoleApp/Connected Services/ServiceReference1/my.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="factorial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="factorialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="factorialResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mul">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mulResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mulResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Div">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="factorialSoapIn">
    <wsdl:part name="parameters" element="tns:factorial" />
  </wsdl:message>
  <wsdl:message name="factorialSoapOut">
    <wsdl:part name="parameters" element="tns:factorialResponse" />
  </wsdl:message>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="subSoapIn">
    <wsdl:part name="parameters" element="tns:sub" />
  </wsdl:message>
  <wsdl:message name="subSoapOut">
    <wsdl:part name="parameters" element="tns:subResponse" />
  </wsdl:message>
  <wsdl:message name="mulSoapIn">
    <wsdl:part name="parameters" element="tns:mul" />
  </wsdl:message>
  <wsdl:message name="mulSoapOut">
    <wsdl:part name="parameters" element="tns:mulResponse" />
  </wsdl:message>
  <wsdl:message name="DivSoapIn">
    <wsdl:part name="parameters" element="tns:Div" />
  </wsdl:message>
  <wsdl:message name="DivSoapOut">
    <wsdl:part name="parameters" element="tns:DivResponse" />
  </wsdl:message>
  <wsdl:portType name="mySoap">
    <wsdl:operation name="factorial">
      <wsdl:input message="tns:factorialSoapIn" />
      <wsdl:output message="tns:factorialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sub">
      <wsdl:input message="tns:subSoapIn" />
      <wsdl:output message="tns:subSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mul">
      <wsdl:input message="tns:mulSoapIn" />
      <wsdl:output message="tns:mulSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Div">
      <wsdl:input message="tns:DivSoapIn" />
      <wsdl:output message="tns:DivSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mySoap" type="tns:mySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="factorial">
      <soap:operation soapAction="http://tempuri.org/factorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap:operation soapAction="http://tempuri.org/sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul">
      <soap:operation soapAction="http://tempuri.org/mul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Div">
      <soap:operation soapAction="http://tempuri.org/Div" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="mySoap12" type="tns:mySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="factorial">
      <soap12:operation soapAction="http://tempuri.org/factorial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap12:operation soapAction="http://tempuri.org/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap12:operation soapAction="http://tempuri.org/sub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul">
      <soap12:operation soapAction="http://tempuri.org/mul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Div">
      <soap12:operation soapAction="http://tempuri.org/Div" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="my">
    <wsdl:port name="mySoap" binding="tns:mySoap">
      <soap:address location="http://localhost:63656/my.asmx" />
    </wsdl:port>
    <wsdl:port name="mySoap12" binding="tns:mySoap12">
      <soap12:address location="http://localhost:63656/my.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>